<div class="container sticky-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top shadow p-1 mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="/photos/SYMBOL.png" alt="Bootstrap" width="40" height="44">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active me-2" aria-current="page" href="/home">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="../appointmentWithoutLogin">Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../about">About Us</a>
                    </li>
                </ul>

                <div class="nav-link me-2 my-2">
                    <a href="/login" class="btn btn-outline-warning me-2"> Login </a>
                </div>
                <div class="nav-link ">
                    <a href="/signup" class="btn btn-outline-warning me-2"> Signup </a>
                </div>
            </div>
        </div>
    </nav>
</div>

