<div class="container sticky-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top shadow p-1 mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="/customer/<%=customer.phone%>">
                <img src="/photos/SYMBOL.png" alt="Bootstrap" width="40" height="44">
            </a>
      
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active me-2" aria-current="page" href="/manager/<%=customer.phone%>">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/<%=customer.phone%>/appointment">Book Appointment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/<%=customer.phone%>/history">Manage Appointments</a>
                    </li>

                </ul>

                <!-- <form class="d-flex">
                    <button class="btn btn-outline-warning me-2" type="button">Logout</button>
                </form> -->
                <div class="nav-link me-2 my-2">
                    <form action = "/home" method="post">
                        <form action = "/home" method="post">
                            <button class="btn btn-outline-warning me-2" type="submit">Logout</button>                        
                        </form>                     
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>