<%- include('./partials/header') %>
<div class="bg-lblue">
    <div style="padding-top: 100px;">
        <div id="wrapper">
            <%- include('./partials/nav') %>


            <div class="container">
                <div class="row  border bg-light rounded-5 p-lg-5 p-sm-5 p-md-2 m-lg-5">
                    <div class="col d-flex" style="flex-flow: column;">
                        <div class="fs-3 text-center mb-5 mt-sm-3"> About Us</div>
                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Overview
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center ">
                                Founded in 1997 by a team of India's leading cardiologists, CARE Hospitals started 
                                its journey as a 100-bedded Heart Institute with a core team of 20 cardiologists,
                                1 operating theatre, and 1 catheterization laboratory. 25 years later, 
                                the CARE Hospitals Group is a multi-speciality healthcare provider with 
                                16 healthcare facilities serving 7 cities across 6 states in India.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center    my-4">
                                <img src="/photos/mission.png" alt="hospital image" width="100%" class="rounded">
                            </div>
                            <div>
                                It is the regional leader in South and Central India and is amongst the
                                 top 5 Pan-Indian hospital chains. CARE Hospitals delivers comprehensive care
                                  in over 30 specialities. Adopting a service-oriented delivery model,
                                   CARE Hospitals provides cost-effective medical care, with an 
                                   uncompromising commitment to its core purpose - 'To make quality healthcare 
                                   accessible at affordable costs to all'
                            </div>
                        </div>


                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Journey
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center ">
                                CARE Hospitals was instituted in 1997, Started with 100 beds, 
                                20 cardiologists the Group has now evolved as a multi-speciality 
                                health care provider with 16 healthcare facilities serving 7 cities 
                                across 6 states in India with over 2700 beds.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  ps-lg-5  my-4">
                                <img src="/photos/doctor.jpg" alt="doctor image" width="100%" class="rounded">
                            </div>
                        </div>

                        <div class="row align-middle border rounded-3 p-sm-4 p-md-4 m-2 mb-5" style="flex-grow: 1;">
                            <div class="col-12 m-3 fs-3">
                                Our Achievements
                            </div>

                            <div class="col-12 col-lg-7 d-flex align-items-center ">
                                Developed India's first indigenous Coronary Stent.
                                First Hospital in AP to perform Swap kidney transplant
                                First Hospital in India to perform Womb transplant
                                First Hospital in India to perform Heart Surgery on Foetus
                                First Hospital in Central India to start 3D Laparoscopy Surgery
                                First Hospital in AP to start Endovenous surgery for Varicose Veins
                                First Hospital to perform Hybrid repair of Thoracoabdominal aortic aneurysm in the
                                country
                                First Hospital in south India to start Hybrid Salvage of Failed AV fistula.
                            </div>
                            <div class="col-12 col-lg-5  d-flex align-items-center  my-4">
                                <img src="/photos/achivements.png" alt="hospital image" width="100%" class="rounded">
                            </div>
                            <div>
                                
                                Cochlear Implantation using local Anaesthesia (Very few people in the world do this).
                                First Hospital in AP that started Image-guided skull-based surgery for Pituitary tumour
                                1000 plus stapedotomy surgeries using skeeter drill and self-retaining ear canal 
                                retractor for conductive deafness (2nd largest study in the world which has been 
                                accepted by Cambridge university done by a single surgeon)
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>

<%- include('./partials/footer') %>