
    
<%- include('./partials/header') %>

    <div class="bg-lblue">
        <div style="padding-top: 100px;">
    <div id="wrapper">
        <%- include('./partials/nav') %>
    </div>
        <div class="text-center">
            <img src="/photos/plus.png" class="rounded" alt="Plus symbol Image">
        </div>
        <div class="container bg-dark mt-5 col-md-5 col-xl-5 col-sm-5 px-5 py-2 mb-3 rounded-5">
            <div class="text-center mt-3 text-light">You need to Login first to book any appointment.</div>
            <div class="text-center fs-4 my-3 mt-3 text-light">Go to <a
                href="/login" style="text-decoration:none;">Login</a> page
            </div>
            <div class="text-center mt-3 text-danger">FOR EMERGENCY CALL DIRECT</div>
            <div class="text-center mt-3 text-danger">1800-223-277</div>
        </div>


    </div>

    <%- include('./partials/footer') %>