<%- include('./partials/header') %>


  <div class="bg-lblue">
  <div id="wrapper">    

    <%- include('./partials/nav') %>
    
    <!-- <div class="container mb-5">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active"  data-interval="1s">
            <img src="https://source.unsplash.com/random/1199x400/?food" class="d-block w-100" alt="Food photo">
            <div class="carousel-caption d-none d-md-block ">
              <h5>Eating is a necessity, but cooking is an art.</h5>
            </div>
          </div>
          <div class="carousel-item"  data-interval="1s">
            <img src="https://source.unsplash.com/random/1200x399/?food" class="d-block w-100 " alt="Food photo">
            <div class="carousel-caption d-none d-md-block">
              <h5>Food is not just fuel, it's information. It talks to your DNA and tells it what to do.</h5>
  
            </div>
          </div>
          <div class="carousel-item" data-interval="1s">
            <img src="https://source.unsplash.com/random/1200x400/?food" class="d-block w-100 " alt="Food photo">
            <div class="carousel-caption d-none d-md-block">
              <h5>Food is love made edible.</h5>
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div> -->

    <p class="text-center" style="padding-top: 100px; color: darkblue; text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); font-size: 70px;"> Health and Care </p>

    <div class="text-center m-3">
      <img src="/photos/HospitalPic.png" class="rounded" alt="Hospital Image">
    </div>

  <div class="why-us" style="margin-bottom: 20px;">
  <div class="justify-content-center d-flex align-items-stretch">
      <div class="icon-boxes d-flex flex-column">
        <div class="row">
          <div class="col-xl-4 d-flex align-items-stretch">
            <div class="icon-box mt-4 mt-xl-0" style="padding-top: 20px;">
              <i class=" me-3 bi bi-receipt"></i>
              
              <h4>ADVANCED TECHNOLOGY</h4>
              <p>All the advanced technologies available</p>
            </div>
          </div>
          <div class="col-xl-4 d-flex align-items-stretch">
            <div class="icon-box mt-4 mt-xl-0" style="padding-top: 20px;">


              <i class="me-3 bi bi-box"></i>
              <h4>HEALTHCARE SOLUTIONS</h4>
              <p>We cure all the diseases</p>
            </div>
          </div>
          <div class="col-xl-4 d-flex align-items-stretch">
            <div class="icon-box mt-4 mt-xl-0" style="padding-top: 20px;">
              <i class="me-3 bi bi-card-checklist"></i>
              <h4>APPOINTMENT TIMINGS</h4>
              <p>Monday to Saturday: 9:00 AM to 6:00 PM</p>
              <p>Closed on Sundays</p>
            </div>
          </div>
        </div>
      </div><!-- End .content-->
    </div>
  </div>


    


  <div class="d-grid gap-2 col-6 mx-auto p-5">
      <a class="btn btn-primary btn-lg" href="/appointmentWithoutLogin" role="button">Book Appointment Now</a>
  </div>


  

    

    <%- include('./partials/footer') %>
    